<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leenadam.app">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissao de internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Aplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Empresa.ActivityInserirEmpresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usina.ActivityInserirUsina"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Barramento.ActivityInserirBarramento"
            android:screenOrientation="portrait" />
        <activity android:name=".Empresa.ActivityListaEmpresas" />
        <activity
            android:name=".Declaracoes.ActivityDeclaracoes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatrizClassificacao.ActivityMatrizClassificacao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoGeral.ActivityInfoGerais"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity android:name=".Usuario.LoginActivity" />
        <activity android:name=".Usuario.SplashScreen" />
        <activity android:name=".TesteBancoActivity" />
        <activity android:name=".Usuario.CadastroActivity" />
        <activity
            android:name=".activity.PrincipalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.PrincipalFragment" />
        <activity android:name=".activity.SobreActivity" />
        <activity android:name=".activity.CreditosActivity" />
        <activity
            android:name=".Expedito.ClassificacaoExpeditaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Expedito.TelaResultadoActivity"></activity>
        <activity android:name=".RelatorioPrevia.TelaPreviaRelatorioActivity"></activity>
        <activity android:name=".Relatorio.TelaRelatorioActivity"></activity>
    </application>

</manifest>